body { background-color: lightgray;
}

h1 {
    color: white;
    margin-left: 0px;
    background-color: rgb(255, 99, 71);
border: 0px;
border-style:solid;
padding: 70px;
}

h2 {
    color: white;

}

ul { margin-left: 50px;
}

div {
    height: 400px;
    wdight: 50%
  
}



.box { 
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    height: 200px;
    padding: 0px;
    padding-top: 70px;
    background-color: #ffffff;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;

/* komentarz */